.errorPage {
  text-align: center;
  min-height: calc(97vh - 130px);
}

.errorPage span {
  letter-spacing: 5px;
  color: red;
}

.errorPage p {
  letter-spacing: 1px;
}

.errorPage ul {
  margin-bottom: 20px;
  margin: auto;
  text-align: left;
  border: solid 3px #111;
  padding: 3%;
}

.errorPage a {
  display: block;
  color: #00f;
  margin-left: auto;
}

@media screen and (min-width: 1026px) {
  .errorPage span {
    font-size: 4em;
  }

  .errorPage h2 {
    font-size: 2em;
  }

  .errorPage p {
    letter-spacing: 1px;
    font-size: 1.5em;
  }

  .errorPage ul {
    width: 55%;
  }

  .errorPage li {
    letter-spacing: 1px;
    line-height: 3vh;
  }

  .errorPage a {
    width: 15%;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .errorPage span {
    font-size: 4em;
  }

  .errorPage h2 {
    font-size: 2em;
  }

  .errorPage p {
    font-size: 1.5em;
  }

  .errorPage ul {
    width: 65%;
  }

  .errorPage a {
    width: 15%;
  }
}

@media screen and (max-width: 481px) {
  .errorPage span {
    font-size: 3em;
  }

  .errorPage h2 {
    font-size: 1.5em;
  }

  .errorPage p {
    font-size: 1em;
  }

  .errorPage ul {
    width: 85%;
  }

  .errorPage li {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 3vh;
    list-style: none;
  }
}
