.card {
  position: relative;
  border: solid 1px #000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .card {
    margin: 20px 0 0 0;
    width: 350px;
    height: 330px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .card {
    margin: 20px 0 0 0;
    width: 30vw;
    height: 280px;
  }
}

@media screen and (max-width: 481px) {
  .card {
    margin: 10px 0 10px 0;
    width: 350px;
    height: 330px;
  }
}

.card:hover {
  box-shadow: 0 0 0 white;
  transform: translate(0, -5.5px);
}

.thumbnail {
  border-bottom: solid 1px #000;
}

.thumbnail img {
  border-radius: 8px 8px 0 0;
}

.title h2 {
  font-size: 17px;
  text-align: left;
}

.tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}

@media screen and (min-width: 1025px) {
  .tags {
    height: 60px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .tags {
    height: 60px;
  }
}

@media screen and (max-width: 481px) {
  .tags {
    height: 80px;
  }
}

.tag {
  border: solid 1px #5bbee5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 4px 8px;
  padding: 2px;
}

.publishedAt {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
