.publishedAt {
  text-align: right;
  margin-right: 5px;
}

.card:hover {
  transform: translate(0, -5.5px);
}

.title h2 {
  font-size: 17px;
  text-align: left;
}


@media screen and (min-width: 1025px) {
  .card {
    background-color: #fff;
    margin-top: 20px;
    width: 350px;
    height: 350px;
    border: solid 1px #000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
  }

  .thumbnail {
    height: 200px;
    border-bottom: solid 2px #000;
  }

  .thumbnail img {
    border-radius: 8px 8px 0 0;
  }

  .title {
    height: 35px;
  }

  .tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 50px;
  }

  .tag {
    border: solid 1px #5bbee5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 2px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .card {
    background-color: #fff;
    margin-top: 20px;
    width: 30vw;
    height: 310px;
    border: solid 1px #000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
  }

  .thumbnail {
    height: 140px;
    border-bottom: solid 1px #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .thumbnail img {
    border-radius: 8px 8px 0 0;
    height: 139px !important;
    width: 30vw !important;
  }

  .title {
    height: 50px;
  }

  .tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 50px;
  }

  .tag {
    border: solid 1px #5bbee5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 2px;
  }
}

@media screen and (max-width: 481px) {
  .card {
    background-color: #fff;
    margin-top: 10px;
    width: 350px;
    height: 360px;
    border: solid 1px #000;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .thumbnail {
    height: 200px;
    border-bottom: solid 1px #000;
  }

  .thumbnail img {
    border-radius: 8px 8px 0 0;
  }

  .title {
    height: 40px;
  }

  .tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 40px;
  }

  .tag {
    border: solid 1px #5bbee5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: 8px;
    margin-bottom: 4px;
    padding: 2px;
  }
}
