.detail {
  word-break: break-all;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: #e0efff;
}

/* 
ヘッダー 
*/

.detailHeader {
  font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  text-align: center;
  margin-bottom: 30px;
}

.detailTtl {
  font-size: 2em;
  letter-spacing: 2px;
}

.thumbnail {
  width: 100px;
  height: 80.5px;
  border: solid 1px #000;
  margin: 0 auto;
  background-color: #fff;
}

.dateArea {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.publishedAt {
  display: flex;
  align-items: center;
}

.revisedAt {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1026px) {
  .dateArea {
    width: 700px;
  }

  .publishedAt {
    gap: 10px;
  }

  .revisedAt {
    gap: 10px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .dateArea {
    width: 550px;
  }

  .publishedAt {
    gap: 15px;
  }

  .revisedAt {
    gap: 15px;
  }
}

@media screen and (max-width: 481px) {
  .dateArea {
    width: 98%;
  }

  .publishedAt {
    gap: 3px;
  }

  .revisedAt {
    gap: 3px;
  }
}

/* SNSエリア */
.snsArea {
  display: flex;
}
@media screen and (min-width: 1026px) {
  .snsArea {
    width: 10px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .snsArea {
    margin-left: auto;
    order: 3;
  }
}

@media screen and (max-width: 481px) {
  .snsArea {
    margin-left: auto;
    order: 3;
  }
}

/* メイン */
.mainContents {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1026px) {
  .mainContents {
    width: 90%;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .mainContents {
    width: 90%;
    flex-direction: column;
  }
}

@media screen and (max-width: 481px) {
  .mainContents {
    width: 95%;
    flex-direction: column;
  }
}

.detailContent {
  letter-spacing: 1px;
  background-color: #fff;
}

@media screen and (min-width: 1026px) {
  .detailContent {
    width: 60%;
    border-radius: 20px;
    padding: 1%;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .detailContent {
    width: 100%;
    padding: 3% 1% 5% 1%;
    order: 2;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 481px) {
  .detailContent {
    width: 100%;
    padding: 1% 1% 5% 1%;
    order: 2;
    border-radius: 0 0 10px 10px;
  }
}

/* サイドバー */
.tagArea {
  padding: 1% 1% 5% 1%;
  background-color: #fff;
}

@media screen and (min-width: 1026px) {
  .tagArea {
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .tag {
    margin-left: 20px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .tagArea {
    width: 100%;
    border-radius: 10px 10px 0 0;
    order: 1;
    padding: 5% 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .tagArea h1 {
    display: none;
  }
}

@media screen and (max-width: 481px) {
  .tagArea {
    padding: 5% 0 0 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    order: 1;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .tagArea h1 {
    display: none;
  }
}

.tag a {
  color: blue;
  line-height: 23px;
}

.tag a:hover {
  border-bottom: solid 1px blue;
}

.toc {
  padding: 1%;
  background-color: #fff;
}

@media screen and (min-width: 1026px) {
  .toc {
    border-radius: 20px;
  }
}

/* カード一覧エリア */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 1026px) {
  .main {
    width: 1100px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .main {
    width: 95%;
  }
}

@media screen and (max-width: 481px) {
  .main {
    width: 100%;
  }
}
/* マークダウン */
.detailContent h1 {
  font-size: 30px;
  border-bottom: solid 1px #aaa;
}

.detailContent h2 {
  font-size: 25px;
  border-bottom: solid 1px #aaa;
}

.detailContent pre {
  background-color: #222;
  padding: 1.5%;
  overflow: auto;
}

.detailContent pre code {
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  color: #e0efff;
}

.detailContent code {
  background-color: #eee;
  color: rgb(224, 120, 120);
  font-style: italic;
}

.detailContent a {
  color: blue;
  border-bottom: solid 1px blue;
}

.detailContent p {
  font-size: 18px;
  letter-spacing: 1px;
}

.detailContent li {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 4.5vh;
}

.detailContent img {
  max-width: 100%;
}
