.detail {
  word-break: break-all;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: #e0efff;
}

.detailHeader {
  font-family: -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  text-align: center;
  margin-bottom: 30px;
}

.detailTtl {
  font-size: 2em;
  letter-spacing: 2px;
}

.thumbnail {
  width: 100px;
  height: 80.5px;
  border: solid 1px #000;
  margin: 0 auto;
  background-color: #fff;
}

.tagArea .tagList a {
  color: blue;
  border-bottom: solid 1px blue;
  line-height: 20px;
}

.detailContent h1 {
  font-size: 30px;
  border-bottom: solid 1px #aaa;
}

.detailContent h2 {
  font-size: 25px;
  border-bottom: solid 1px #aaa;
}

.detailContent pre {
  background-color: #222;
  padding: 1.5%;
  overflow: auto;
}

.detailContent pre code {
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  color: #e0efff;
}

.detailContent code {
  background-color: #eee;
  color: rgb(224, 120, 120);
  font-style: italic;
}

.detailContent a {
  color: blue;
  border-bottom: solid 1px blue;
}

.detailContent p {
  font-size: 18px;
  letter-spacing: 1px;
}

.detailContent li {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 4.5vh;
}

.detailContent img {
  max-width: 100%;
}

.center {
  text-align: center;
}

.tagArea h1 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #222;
}

@media screen and (min-width: 1026px) {
  .mainContents {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .detailContent {
    letter-spacing: 1px;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
  }

  .snsArea {
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tagArea {
    padding: 1%;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .tag {
    margin-left: 20px;
  }

  .toc {
    padding: 1%;
    background-color: #fff;
    border-radius: 20px;
  }

  .dateArea {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }

  .publishedAt {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .revisedAt {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideBar {
    width: 350px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .mainContents {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .detailContent {
    letter-spacing: 1px;
    width: 100%;
    background-color: #fff;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    order: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .tagArea {
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    order: 1;
    padding-top: 5%;
  }

  .tagArea h1 {
    display: none;
  }

  .snsArea {
    margin-left: auto;
    display: flex;
    order: 3;
  }

  .tagArea .tagList {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .dateArea {
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }

  .toc {
    padding: 1%;
    background-color: #fff;
  }

  .publishedAt {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .revisedAt {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideBar {
    width: 100%;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 481px) {
  .mainContents {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .detailContent {
    letter-spacing: 1px;
    width: 100%;
    background-color: #fff;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    order: 2;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .tagArea {
    padding-top: 5%;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    order: 1;
  }

  .tagArea h1 {
    display: none;
  }

  .snsArea {
    margin-left: auto;
    display: flex;
    order: 3;
  }

  .tagArea .tagList {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .tag {
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .toc {
    padding: 1%;
    background-color: #fff;
  }

  .dateArea {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }

  .publishedAt {
    font-size: 1em;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .revisedAt {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sideBar {
    width: 100%;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}
