/* cyrillic */
@font-face {
  font-family: "Bad Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/6NUT8F6PJgbFWQn47_x7pO8kzP9Ddt2Wew.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "Bad Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/6NUT8F6PJgbFWQn47_x7pOskzP9Ddt0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.about {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  color: #5bbee5;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1),
    13px 14px 8px 1px rgba(10, 10, 10, 0.02);
}

.about:hover {
  transform: translate(0, -2.5px);
}

.header {
  /* background: linear-gradient(to right, #5bbee4 0%, #52eac1 100%); */
  background: var(--color-background);
  height: 70px;
  border-bottom: 1px solid #000;
}

.headerContainer h3 {
  color: var(--color-text);
  font-weight: 900;
  font-size: 25px;
  font-family: "Bad Script", cursive;
}

.search {
  cursor: pointer;
}

.search:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1026px) {
  .headerContainer {
    margin-top: 20px;
    width: 1000px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navi {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 482px) and (max-width: 1025px) {
  .headerContainer {
    margin-top: 20px;
    width: 600px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navi {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 481px) {
  .headerContainer {
    margin-top: 20px;
    width: 95%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navi {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
