.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1025px) {
  .tags {
    margin-left: -25px;
  }
}

.tags__tag a {
  color: blue;
  line-height: 23px;
}

.tags__tag a:hover {
  border-bottom: solid 1px blue;
}
